input:-webkit-autofill {
  -webkit-text-fill-color: #525252 !important;
}

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill {
    -webkit-text-fill-color: #e5e5e5 !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}